<div class="container stylish-ui" style="margin-top: 25px;">
    <!-- Section Title -->
    <div class="section-title text-center" *ngFor="let Content of sectionTitle">
        <h2 class="fancy-heading">{{ Content.title }}</h2>
        <p >{{ Content.paragraph }}</p>
        <div class="underline"></div>
    </div>

    <!-- Slider with Products -->
    <div class="products-slider">
        <owl-carousel-o [options]="productsSlidesOptions">
            <ng-template carouselSlide *ngFor="let Content of singleProductsBox">
                <div class="product-card">
                    <div class="product-image">
                        <img [src]="Content.mainImg" alt="{{ Content.title }}">
                    </div>
                    <h4 class="product-title">{{ Content.title }}</h4>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

    <!-- Second Slider -->
    <div class="products-slider">
        <owl-carousel-o [options]="productsSlidesOptions">
            <ng-template carouselSlide *ngFor="let Content of singleProductsBox1">
                <div class="product-card">
                    <div class="product-image">
                        <img [src]="Content.mainImg" alt="{{ Content.title }}">
                    </div>
                    <h4 class="product-title">{{ Content.title }}</h4>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
